.page-404 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-404__heading {
  font-family: "Lighthaus";
  font-size: 160px;
  text-align: center;
  color: var(--gold);
  font-weight: normal;
}

.page-404__text {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.page-404__link {
  color: var(--gold);
}

.page-404__button-container {
  margin-top: 80px;
  width: 90px;
}
