.menu-button {
  color: var(--gold);
  font-size: 35px;
  line-height: 0;
  z-index: 11;
}

.menu-button_hidden {
  width: 0;
  height: 0;
}

@media (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}
