.size-slider {
  position: relative;
  height: 40px;
  border: 1px solid white;
  border-radius: 30px;
}

.size-slider__input {
  width: 100%;
  outline: none;
  overflow: hidden;
  height: 40px;
  background: transparent;
  padding: 0 4px;
  position: relative;
  -webkit-appearance: none;
}

.size-slider__text {
  font-family: "Century";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
}

.size-slider__label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
  pointer-events: none;
}

.size-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--silver);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.size-slider__input::-ms-track {
  width: 100%;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.size-slider__input::-moz-range-thumb {
  appearance: none;
  background: var(--silver);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}
