.order-table {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 30px 0;
  display: none;
  justify-content: center;
  background-color: black;
  border-top: 1px solid var(--gold);
}

.order-table__order-button {
  height: 77px;
}

.order-table__text {
  font-family: "Century";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: white;
}

.order-table__text_big {
  font-size: 34px;
  line-height: 42px;
}

.order-table__text_small {
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: 1024px) {
  .order-table {
    display: flex;
  }
}

@media (min-width: 1450px) {
  .order-table {
    justify-content: end;
  }

  .order-table__order-button {
    margin-right: 185px;
  }
}
