.enter-button {
  position: relative;
  height: 56px;
  width: 225px;
  align-self: end;
  z-index: 25;
}

.enter-button__link {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter-button__text {
  font-family: "Lighthaus";
  font-size: 34px;
  line-height: 44px;
  font-weight: normal;
}

.enter-button__image {
  width: 56px;
  height: 56px;
  background-image: url("../../../images/spark-white.svg");
  background-repeat: no-repeat;
  background-size: 37px 19px;
  background-position-y: center;
  border: 1px solid white;
  border-radius: 50%;
}
