#item-rotator {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  grid-area: item-rotator;
}

#item-rotator * {
  width: 100%;
  height: 100%;
}

.contain img {
  object-fit: contain;
}

.cover img {
  object-fit: cover;
}

@media (min-width: 1500px) {
  #item-rotator {
    height: 90%;
  }
}
